
@{
    ViewBag.Title = "Контакты";
}
<div class="mainBlock col-md-9">
    <div class="container">
        <h2>Данная страница находится в разработке</h2>
        <h3>@Html.ActionLink("Вернуться на главную страницу", "Index", "Home")</h3>
    </div>
    
        @Html.Action("Location", "Home")
</div>






