<div class="mainBlock col-md-9">
    <header class="col-md-12">
        <nav class="header-nav">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Отзывы", "Feedback", "Home")</li>
                <li>@Html.ActionLink("Цены", "MainPrice", "Price")</li>
                <li>@Html.ActionLink("Тесты", "TestsMain", "EnglishTest")</li>
            </ul>

        </nav>
        <div class="phone">
            <p>+375 (29) 187 49 67</p>
        </div>
        <a class="application" id="application" href="">
            Записаться
        </a>
    </header>
</div>