################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/timetospeak/Properties/PublishProfiles

/timetospeak/bin

/timetospeak/obj
