
@{
    ViewBag.Title = "Цены";
}
<div class="mainBlock col-md-9">
    <h2>Данная страница находится в разработке</h2>
    <h3>@Html.ActionLink("Вернуться на главную страницу", "Index", "Home")</h3>
</div>






